.errContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
}
.errMsg{
    width: 400px;
    
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.errMsg button{
    background: greenyellow;
    border: none;
    padding: 10px 5px;
    box-shadow: 0px 4px 8px rgb(255,255,255,0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.errMsg button h1{
    color: white;
    font-size: xx-large;
}
.errMsg button:hover{
    transform: scale(1.1);
    
}
.msg h1{
    font-size: 100px;
    text-shadow: 2px 4px 8px rgb(255,255,255,0.5);

}
.msg h1 span{
    color: greenyellow;
}
.msg h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.errimg{
    width: 400px;
   
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.errimg h1{
    color: greenyellow;
    font-size: 200px;
    text-shadow: 0px 4px 8px rgb(255,255,255,0.5);
}

@media(max-width:425px){
    .errimg h1{
        font-size: 150px;
    }
    .msg h1{
        font-size: 60px;
        text-align: center;
    }
    .msg h2{
        font-size: 20px;
        text-align: center;
    }
}