html,body{
    
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}